/* цвет остовного текста color: #757575; */
/* вторичныу цвет текста color: #212121; */
/* color: #FFFFFF; */
/* акцент  color: #2196F3;*/
/* hover change #188CE8; */
/* background: #E5E5E5; */
/* second background lite: #F5F4FA; 
logo color dark color: #000000;
section background dark: #2F303A;
*/  
/* ========================== HEADER================================ */
/* .phone-icon,
.mail-icon{
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
} */
/* =================== /HEADER ================================= */
/* ======================== Section MAIN ========================= */
/* ============= HERO ================ */
/* =========================== FEATURES ============================== */
/* ==== Второй способ добавления элементов ======
 Получается что калькулятор не правильно работает 
 с построением через  nth-child ? 
 если поменяем  С width: 270px; На flex-basis: calc((100%-90px) / 4); или даже 100%-120px */

/* .feature-list{
    display: flex;
    flex-wrap: wrap;
}
.feature-item{
    width: 270px;
}
.feature-item:not(:nth-child(4n)){
    margin-right: 30px;
}
.feature-item:not(:nth-last-child(-n+4)){
    margin-bottom: 30px;
} */

/* ==== Третий gap способ добавления элементов ====== */
/* == НЕ РАБОТАЕТ ТОЖЕ !! если calc((100%-90px) / 4) */

/* .feature-list{
    gap: 30px;
    display: flex;
    flex-wrap: wrap;
}
.feature-item{
    flex-basis: calc((100%-120px) / 4);
} */
/* =========================== /FEATURES ============================== */
/* ======================== WORK ======================================== *
/* ======================== /WORK ======================================== */
/* ======================== TEAM ========================================== */
/* ======================== /TEAM ========================================== */
/* ===== CLIENTS ===================================== */
/* ===== /CLIENTS ===================================== */
/* ===================== /MAIN ====================================== */
/* ============================= FOOTER ========================= */




/* ============================= /FOOTER ========================= */

/* ============================= PORTFOLIO html ====================== */
/* ====  filter ==== */



/* ===== /filter ====-=== */
/* ====== Content =======*/



/* ====== /Content =======*/
/* ============================= /PORTFOLIO html ====================== */

/* ============================= BACKDROP ====================== */


/* ============================= /BACKDROP ====================== */
/* ============== Modal form ================ */



/* ============== /Modal form ================ */
