.content__title{
    font-weight: $secondary-font;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: $heading-text-color;
    margin-bottom: 4px;
}
.content__text{
    font-weight: $primary-font;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: $prim-letter-spacing;
    color: $main-text-color;
}
