.filter-btn {
    min-width: 73px;
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.63;
    letter-spacing: var(--primary-letter-spacing);
    color: var(--main-h-color);
    border: none;
    background: var(--main-bg-lite-color);
    border-radius: 4px;
    cursor: pointer;
    padding: 6px 22px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
}

.filter-btn:hover,
.filter-btn:focus{
    background-color: var(--accent-color);
    box-shadow: var(--box-shadow-filter);
    border-radius: 4px;
    color: var(--main-white-color);
}