.filter-btn {
    min-width: 73px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.63;
    letter-spacing: var(--primary-letter-spacing);
    border: none;

    font-family: inherit;
    color: var(--main-h-color);
    background: var(--main-bg-lite-color);
    border-radius: 4px;
    cursor: pointer;
    padding: 6px 22px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), 
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), 
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus{
        background-color:$accent-color;
        box-shadow: var(--box-shadow-filter);
        border-radius: 4px;
        color: var(--main-white-color);
    }
}

