%align{
    display: flex;
    align-items: center;
    justify-content: center;
}

%h3-title{
    font-weight: var(--secondary-font-weight);
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
    letter-spacing: var(--primary-letter-spacing);
}

%p-text{
    font-weight: var(--primary-font-weight);
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: var(--primary-letter-spacing);
    margin-top: 0px; 
}

%visually-hidden { 
    position: absolute; 
    width: 1px; 
    height: 1px; 
    margin: -1px; 
    border: 0; 
    padding: 0; 
    white-space: nowrap; 
    clip-path: inset(100%); 
    clip: rect(0 0 0 0); 
    overflow: hidden; 
} 